:root {
  --udec-blue: #113b63;
  --udec-gold: #f59f18;
}

/* Custom title slide */
.title-slide {
  background-color: var(--udec-blue) !important;
  color: white !important;
  background-image: url(logo/Logo-UdeC-1-mag.png);
  background-position: 50% 90%;
  background-size: 200px;
  background-repeat: no-repeat;
}

.title-slide h1,
.title-slide h2,
.title-slide h3 {
  color: white !important;
}
